/* styles.css */
.app {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .customer-list {
    width: 30%;
    height: 100vh;
    overflow-y: scroll;
  }
  
  .customer-card {
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .customer-card.selected {
    background-color: rgb(200, 203, 203);
  }
  
  .details-and-photos {
    width: 65%;
  }
  
  .customer-details {
    text-align-last: center;
    margin-bottom: 20px;
  }
  
  .photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .photo-grid img {
    width: 100%;
/* styles.css */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
  }
  
  .photo-item-container {
    position: relative;
    width: 100%;
    padding-top: 100%; /* Set the height of the container to match the width (1:1 aspect ratio) */
  }
  
  .photo-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; /* Ensure the image takes up the full height of its container */
    object-fit: cover; /* Scale the image to be as large as possible while maintaining its aspect ratio */
  }
      height: auto;
  }
/* styles.css */
/* styles.css */

  

    